{% extends "base_web.html" %}

{% block title %}StockTrenz | Email Settings{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/css/jquery-ui-1.8.18.custom.css" type="text/css" media="all">
<script src="/static/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var keys = [];
    var values = [];
    var selected_keys = [];
</script>
{% endblock %}

{% block content %}
    <h2 align="center" style="margin-top: 10px;">Email Settings</h2>
    <br>
    <div class="div_border form_normal_padding">
        <div style="text-align: center">
            <form method="POST" action="" id="email_form" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    <div class="control-group" align="center" style="margin-bottom: 0px;">
                        <div class="large_form_width" style="text-align:  left">
                            <ul class="errorlist">
                                <li>{{ errors }}</li>
                            </ul>
                            {% if show_success %}
                                <ul class="successlist">
                                    <li>Update email settings successfully.</li>
                                </ul>
                            {% endif %}
                            <div id="alert_area"></div>
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" style="text-align:  left">
                            <script>
                                function get_authors() {
                                    var input_value = $('#id_selected_handle').val();
                                    var parm = "q=" + input_value;
                                    $.ajax({
                                        type:"GET",
                                        async:false,
                                        url:"/settings/author/list/",
                                        data:parm,
                                        dataType:"json",
                                        error: function(xhr, textStatus){
                                            if (xhr.status == 401){
                                                window.location.href = "/";
                                            }
                                        },
                                        success: function(data) {
                                            /**Period Select**/
                                            var data = eval(data);
                                            values = data.values;
                                            keys = data.keys;
                                        }
                                    });
                                    return values;
                                }

                                $(function() {
                                    var availableTags = get_authors();
                                    $( "#id_selected_handle" ).autocomplete({
                                        source: availableTags
                                    });
                                });
                            </script>
                            <input id="id_selected_handle" type="text" placeholder="Type-ahead search of author" class="input-large" name="email">
                            &nbsp;
                            <a id="id_add_handle" class="btn btn-primary">Add</a>
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" style="text-align:  left">
                            <!-- HTML Codes by Quackit.com -->
                            <fieldset class="fieldset_list">
                                <legend>&nbsp;&nbsp;Favourite Authors</legend>
                                <div style="height:120px;width:328px;font:16px/26px Georgia, Garamond, Serif;overflow:scroll;">
                                    <ul id="selected_authors_list">
                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            <label class="checkbox">
                                <input type="checkbox" name="tos" id="id_email_1">
                                Email me upon new reports from favourite authors
                            </label>
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            <label class="checkbox">
                                <input type="checkbox" name="tos" id="id_email_2">
                                Email me upon new reports from any authors
                            </label>
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            <label class="checkbox">
                                <input type="checkbox" name="tos" id="id_email_3">
                                Do not send me any emails
                            </label>
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" style="text-align:  left">
                            <a id="id_update_settings" class="btn btn-primary">Update Settings</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

<hr>
<script type="text/javascript">

    window.onload = function() {
        {% for selected_author in selected_author_list %}
            selected_keys.push("{{ selected_author.id }}");
            $('#selected_authors_list').append("<li class='handle_ids' handle_id='" + "{{ selected_author.id }}" + "'>" + "{{ selected_author.handle }}" + "<img id='id_" + "{{ selected_author.id }}" + "' class='remove_icon' handle_id='" + "{{ selected_author.id }}" + "' src='/static/img/remove.png'></img></li>");
            $('img#id_' + "{{ selected_author.id }}").click(function() {
                if(!confirm("Are you sure to delete this author?")) {
                    return;
                }
                $(this).parent().remove();
                selected_keys.splice($.inArray("{{ selected_author.id }}", selected_keys),1);
            });
        {% endfor %}

        {% if is_favourite %}
            $("#id_email_1").attr('checked', 'true')
        {% endif %}
        {% if is_author %}
           $("#id_email_2").attr('checked', 'true')
        {% endif %}
        {% if is_none %}
           $("#id_email_3").attr('checked', 'true')
        {% endif %}
    }



    $('#id_add_handle').click(function() {
        $('#alert_area').empty()
        var value = $('#id_selected_handle').val();
        for(var i=0; i < values.length; i++) {
            if(values[i] == value) {
                var index = selected_keys.indexOf(keys[i]);
                if (index >= 0) {
                    $('#alert_area').append("<div class=\"alert\"><a class=\"close\" data-dismiss=\"alert\">×</a><strong>Warning!</strong> This author is already added.</div>")
                    return
                }

                $('#selected_authors_list').append("<li class='handle_ids' handle_id='" + keys[i] + "'>" + values[i] + "<img id='id_" + keys[i] + "' class='remove_icon' handle_id='" + keys[i] + "' src='/static/img/remove.png'></img></li>");
                selected_keys.push(keys[i]);
                $('img#id_' + keys[i]).click(function() {
                    if(!confirm("Are you sure to delete this author?")) {
                        return;
                    }
                    $(this).parent().remove();
                    selected_keys.splice($.inArray(keys[i], selected_keys),1);
                });
                break;
            }
        }
    });

    $('#id_update_settings').click(function() {
        var parm = "keys=" + selected_keys + '&favourite=' + $('#id_email_1').is(':checked') + '&author=' + $('#id_email_2').is(':checked') + '&none=' + $('#id_email_3').is(':checked');
        window.location.href = "/settings/email/update/?" + parm;
    });
</script>
{% endblock %}
