<div class="well sidebar-nav">
    <ul class="nav nav-list" style="text-align: left">
        <li class="nav-header">Actions</li>
        <li><a style="width: 100px;" onclick="add_new_tag()" data-toggle="modal" class="btn btn-primary">Add a new Tab</a><astound/li>
        <li style="margin-top: 5px;"><a style="width: 80px;" onclick="delete_tag()" data-toggle="modal" class="btn btn-primary">Delete a Tab</a></li>
        <li style="margin-top: 5px;"><a style="width: 90px;" class="btn btn-primary" href="{% url search_gadget %}">Search Gadget</a></li>
    </ul>
    <ul class="nav nav-list" style="margin-top: 10px">
        <li class="nav-header">My Tabs</li>
        {% for tab in tab_list %}
        <li><a href="/tab/show_detail/{{tab.id}}/">{{ tab.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="modal hide fade" id="add_tag">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add a new Tab</h3>
    </div>
    <div class="modal-body">
        <form method="POST" action="{% url add_tab %}" id="add_tab_form" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <div class="control-group" align="center">
                    <div id="id_add_tab_error" class="middle_form_width" style="text-align:  left; font-style: italic; color: red">
                    </div>
                </div>
                <div class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        {{ tab_form.name }}
                    </div>
                </div>
                <div class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        <a onclick="check_name()" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>


<div class="modal hide fade" id="delete_tag">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Delete Selected Tab</h3>
    </div>
    <div class="modal-body">
        <form method="POST" action="{% url delete_tab %}" id="delete_tab_form" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <div class="control-group" align="center">
                    <div id="id_delete_tab_error" class="middle_form_width" style="text-align:  left; font-style: italic; color: red">
                    </div>
                </div>
                <div class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        <select id="selected_tab" name="selected_tab">
                            <option label="Please Select" value="" />
                            {% for tab in tab_list %}
                            <option label="{{ tab.name }}" value="{{ tab.id }}" />
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        <a onclick="check_selected_tab()" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<script type="text/javascript">

    function add_new_tag() {
        $('#add_tag').modal({
            keyboard: false
        })
    }

    function delete_tag() {
        $('#delete_tag').modal({
            keyboard: false
        })
    }

    function check_name() {
        $('#id_add_tab_error').empty();
        var name = $('#id_name').val()
        if (name == '') {
            $('#id_add_tab_error').append("Tab Name is required.");
            return;
        }
        var params = 'name='+name;
        $.ajax({
            type:"GET",
            data: params,
            async:false,
            url:"/tab/check_name/",
            dataType:"json",
            success: function(data) {
                var data = eval(data);
                if(data.success) {
                    $('#add_tab_form').submit();
                } else {
                    $('#id_add_tab_error').append("Tab Name already exist.")
                }
            }
        });
    }

    function check_selected_tab() {
        $('#id_delete_tab_error').empty();
        var name = $('#selected_tab').val()
        if (name == '') {
            $('#id_delete_tab_error').append("Please select a tab for delete.");
            return;
        }
        $('#delete_tab_form').submit();
    }


</script>