{% extends "base_web.html" %}

{% block title %}WHIP | Dashboard{% endblock %}

{% block content %}
<style type="text/css">
    .btn:hover {
        background-position: center;
    }
</style>
    <div class="row-fluid">
        <div class="span3">
            {% if user.is_active %}
                {% include "member_left_side.html" %}
            {% endif %}
        </div><!--/span-->
        <iframe id="iframe_embed" style="margin-left: 5px; border: 0px;" width="890px" height="800px" onload="this.height=iframe_embed.document.body.scrollHeight" src="{{ domain_prefix }}/tab/show_detail_frame/{{ tab_id }}/">

        </iframe>
    </div>

<hr>

{% endblock %}