{% extends "base_web.html" %}

{% block title %}UKM | Dashboard{% endblock %}

{% block content %}
<style type="text/css">
    .btn:hover {
        background-position: center;
    }
</style>
    <div class="row-fluid">
        <div class="span3">
            {% include "member_left_side.html" %}
        </div><!--/span-->
        <div class="span9">
            <div style="margin-bottom: 20px">
                <input type="text" style="margin-bottom: 0px"/>
                &nbsp;
                <a class="btn btn-primary">Search</a>
                <input type="hidden" id="current_gadget_type"/>
            </div>

            <div>
                <ul>
                    {% for gadget in gadgets %}
                        <li class="li_badget">
                            {% if gadget.type == 'Youtube' %}
                                <img src="../static/img/badget/youbute.png"  style="width: 128px; height: 128px"  alt="Youbute">
                            {% endif %}
                            {% if gadget.type == 'Hotmail' %}
                                <img src="../static/img/badget/hotmail.png"  style="width: 128px; height: 128px"  alt="Hotmail">
                            {% endif %}
                            {% if gadget.type == 'CNN' %}
                                <img src="../static/img/badget/cnn.jpg"  style="width: 128px; height: 128px"  alt="CNN">
                            {% endif %}
                            {% if gadget.type == 'BBC' %}
                                <img src="../static/img/badget/bbc.jpeg"  style="width: 128px; height: 128px"  alt="BBC">
                            {% endif %}
                            {% if gadget.type == 'RSS' %}
                                <img src="../static/img/badget/rss.png"  style="width: 128px; height: 128px"  alt="RSS">
                            {% endif %}
                            {% if gadget.type == 'Facebook' %}
                                <img src="../static/img/badget/facebook.png"  style="width: 128px; height: 128px"  alt="Facebook">
                            {% endif %}
                            {% if gadget.type == 'Twitter' %}
                                <img src="../static/img/badget/twitter.png"  style="width: 128px; height: 128px"  alt="Twitter">
                            {% endif %}
                            <span>{{ gadget.name }}</span>
                            <a onclick="add_gadget({{ gadget.id }}, '{{gadget.type}}')" data-toggle="modal" class="btn btn-primary" style="margin-top: 15px; display: none;">Add To Tab</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div><!--/span-->
    </div>

<hr>

<div class="modal hide fade" id="add_gadget">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add to Selected Tab</h3>
    </div>
    <div class="modal-body">
        <form method="POST" action="{% url add_gadget %}" id="add_gadget_form" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
                <div class="control-group" align="center">
                    <div id="id_add_gadget_error" class="middle_form_width" style="text-align:  left; font-style: italic; color: red">
                    </div>
                </div>
                <input type="hidden" id="id_gadget" name="gadget"/>
                <div class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        <select id="id_tab" name="tab">
                            <option label="Please Select a Tab" value="" />
                            {% for tab in tab_list %}
                            <option label="{{ tab.name }}" value="{{ tab.id }}" />
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        {{ tag_gadget_form.title }}
                        {{ tag_gadget_form.title.errors }}
                    </div>
                </div>
                <div id="rss_area" class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        <select id="id_rss_url" name="rss_url">
                            <option value="" label="Please Select a RSS Feed"/>
                            <option value="http://blog.outer-court.com/rss.xml" label="Google RSS"/>
                            <option value="http://news.yahoo.com/rss/;_ylt=AlI92dJVKBsZJxliL9Ua6l65scB_;_ylu=X3oDMTFnMnR2bGMwBG1pdANSU1MgU2l0ZUluZGV4IFVTBHBvcwMzBHNlYwNNZWRpYVJTU0VkaXRvcmlhbA--;_ylg=X3oDMTFlamZvM2ZlBGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHBzdGNhdAMEcHQDc2VjdGlvbnM-;_ylv=3" label="Yahoo RSS"/>
                            <option value="http://news.163.com/special/00011K6L/rss_gn.xml" label="Chinese RSS"/>
                        </select>
                    </div>
                </div>
                <div class="control-group" align="center">
                    <div class="middle_form_width" style="text-align:  left">
                        <a onclick="check_add_tab()" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<script type="text/javascript">
    $('.li_badget').hover(function() {
        $('.li_badget').removeClass('active');
        $('.li_badget').find('a').hide();
        $(this).addClass('active');
        $(this).find('a').show();
    })

    function add_gadget(gadget_id, gadget_name) {
        $('#current_gadget_type').val(gadget_name);
        if(gadget_name == 'RSS') {
            $("#rss_area").show();
        } else {
            $("#rss_area").hide();
        }
        $('#id_gadget').val(gadget_id)
        $('#add_gadget').modal({
            keyboard: false
        })
    }

    function check_add_tab() {
        $('#id_add_gadget_error').empty();
        var name = $('#id_tab').val()
        if (name == '') {
            $('#id_add_gadget_error').append("Please select a tab for add.");
            return;
        }
        var title = $('#id_title').val()
        if (title == '') {
            $('#id_add_gadget_error').append("Gadget title is required.");
            return;
        }
        var rss_url = $('#id_rss_url').val()
        alert(rss_url)
        var gadget_name = $('#current_gadget_type').val();
        if (gadget_name == 'RSS') {
            if (rss_url == '') {
                $('#id_add_gadget_error').append("RSS url is required.");
                return;
            }
            if (!IsURL(rss_url)) {
                $('#id_add_gadget_error').append("RSS url is invalid.");
                return;
            }
        }

        $('#add_gadget_form').submit();
    }

    function IsURL(str_url){
        var strRegex = /http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
        var re=new RegExp(strRegex);
        //re.test()
        if (re.test(str_url)){
            return (true);
        }else{
            return (false);
        }
    }

</script>
{% endblock %}