{% extends "base_web.html" %}

{% block title %}StockTrenz | User Register{% endblock %}

{% block content %}
    <div align="center"><img src="/static/img/ST-960x227.png" class="logo_top_middle" alt="StockTrenz"></div>
    <p align="center" style="font-style: italic;font-size: 18px;">"The easiest way to make money is to know the trend"</p>
    <br>
    <div class="div_border form_normal_padding">
        <h2 align="center" style="margin-top: 10px;">FREE New User Signup</h2>
        <div>
            <form method="POST" action="{% url register_user %}" id="register_form" class="middle_form form-horizontal">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <fieldset>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            {{ form.handle }}
                            {{ form.handle.errors }}
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            {{ form.password2 }}
                            {{ form.password2.errors }}
                        </div>
                    </div>
                    <div class="control-group" align="center">
                        <div class="large_form_width" align="left">
                            <label class="checkbox">
                                {{ form.tos }}
                                I have read and agree to StockTrenz <a href="" style="text-decoration: underline">Terms of service</a>
                                {{ form.tos.errors }}
                            </label>
                        </div>
                    </div>
                    <div class="form-actions" align="center" style="padding-left: 20px">
                        <div class="large_form_width" align="left">
                            <button type="submit" class="btn btn-primary">Join Now</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

<hr>

{% endblock %}